.gallery {
  display:flex;
  flex-wrap: wrap;
  margin: 75px 0;
}

img {
  width: 250px;
  margin: 10px auto;
}

#gallery-sponsors {
  position: center;
}

#gallery-sponsors img {
  width: 150px;
  margin: 10px 30px;
  padding: 15px 0;
}
